
<div class="container">
    <ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="medium" color="#fff" type="ball-clip-rotate"></ngx-spinner>
    <div class="mt-3 animated fadeIn">
        <h2 class="text-uppercase text-center">Sucursales registradas <small class="btn-block text-muted">El listado cuenta con {{branchOffices.length}} registro(s)</small></h2>
        <hr>
        <div class="row">
            <div class="col-12 text-center">
                <button  [routerLink]="['/guardar-sucursal']" type="button" class="btn btn-success mb-3 mr-1 text-uppercase" title="Crear sucursal">
                <span class="fas fa-plus"></span> Crear Sucursal</button>
                <div class="card border-light mb-3">
                    <div class="card-header">Información</div>
                    <div class="card-body text-secondary">
                    <p class="card-text text-left">A continuación, se muestran las sucursales registradas en el sistema. Usted puede editar y visualizar el registro almacenado.</p>
                </div>
            </div>
            </div>
            <div class="col-12">
                <div class="table-responsive">
                    <table class="table" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
                        <thead>
                            <tr>
                                <th scope="col">Código</th>
                                <th scope="col">Descripción</th>
                                <th scope="col">Drección</th>
                                <th scope="col">Identificación</th>
                                <th scope="col">Fechas de creación</th>
                                <th scope="col">Moneda</th>
                                <th scope="col">Estado</th>
                                <th scope="col">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let branchOffice of branchOffices">
                                <td>{{branchOffice.code}}</td>
                                <td>{{branchOffice.description}}</td>
                                <td>{{branchOffice.address}}</td>
                                <td>{{branchOffice.identification}}</td>
                                <td>{{branchOffice.createdAt}}</td>
                                <td>{{branchOffice.money}}</td>
                                <td>{{branchOffice.status ? 'Activo' : 'Inactivo'}}</td>
                                <td>
                                    <button [routerLink]="['/guardar-sucursal',branchOffice.id]"  type="button" class="btn btn-sm btn-outline-dark border-secondary" title="Editar sucursal"><span class="fas fa-pen"></span><span class="sr-only">Editar sucursal</span></button>
                                    <button (click)="mostrarConfirmacionEliminar(branchOffice)"  type="button" class="btn btn-sm btn-outline-dark border-secondary" title="Eliminar sucursal"><span class="fas fa-trash"></span><span class="sr-only">Eliminar sucursal</span></button>

                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="alert alert-info text-center" *ngIf="branchOffices.length == 0">
                        No hay sucursales registradas
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



